* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}



.upper {

    position: relative;
    width: 100%;
    background-color: #3C3633;
}

nav {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
    
}

a{
    text-decoration: none;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 20px;
    font-size: 1.5em;
    
}

.img_profile {
    border-radius: 50%;
}

.headline {
    text-align: center; 
}



h1,h2 {
    margin: 50px;
}

.intro_text{
    margin: 70px;
}

a {
    color: white;
    list-style: none;
}

.intro_me {
    margin-top: 0;
    padding: 70px;
    text-align: center;
    position: relative;
    background-color: #E0CCBE;


}

#myName {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 6em;
}

.education_me{
    text-align: center;
    margin: 50px;
    padding: 50px;
}

.profile_pic{
    display: flex;
    justify-content: center;
}